[submodule "Ember/Ember/vendor/spdlog"]
	path = Ember/Ember/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "Ember/Ember/vendor/glfw"]
	path = Ember/Ember/vendor/glfw
	url = https://github.com/TheCherno/glfw
[submodule "Ember/vendor/imgui"]
	path = Ember/vendor/imgui
	url = https://github.com/TheCherno/imgui
[submodule "Ember/EMber/vendor/imgui"]
	path = Ember/EMber/vendor/imgui
	url = https://github.com/TheCherno/imgui
